# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
myenv/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
